In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
# we are interested in jobs and income for now

In [3]:
jobs = pd.read_csv('Release23_June2021/Jobs.csv')
income = pd.read_csv('Release23_June2021/Income.csv')

In [4]:
jobs.head()

,FIPS,State,County,UnempRate2020,PctEmpChange1920,UnempRate2019,PctEmpChange1819,UnempRate2018,UnempRate2017,UnempRate2016,...,NumUnemployed2015,NumUnemployed2014,NumEmployed2014,NumCivLaborforce2014,NumUnemployed2013,NumCivLaborforce2013,NumUnemployed2007,NumEmployed2007,NumCivLaborforce2007,NumCivLaborforce2017
0,0,US,United States,8.1,-6.0,3.7,1.3,3.9,4.4,4.9,...,8285731.0,9617207.0,146318952.0,155936159.0,11457241.0,155362278.0,7034917.0,145156133.0,152191050.0,160214378.0
1,1000,AL,Alabama,5.9,-3.2,3.0,2.3,3.9,4.6,5.9,...,131852.0,146010.0,2018705.0,2164715.0,159274.0,2172102.0,88418.0,2092030.0,2180448.0,2172455.0
2,1001,AL,Autauga,4.9,-3.9,2.7,1.7,3.6,4.0,5.1,...,1335.0,1489.0,24150.0,25639.0,1628.0,25783.0,824.0,23610.0,24434.0,25898.0
3,1003,AL,Baldwin,5.6,-3.6,2.8,3.7,3.6,4.2,5.4,...,4874.0,5281.0,81265.0,86546.0,5740.0,85206.0,2616.0,80213.0,82829.0,91838.0
4,1005,AL,Barbour,7.0,-2.4,3.8,2.9,5.1,6.0,8.4,...,767.0,929.0,7930.0,8859.0,944.0,9096.0,665.0,9698.0,10363.0,8298.0

In [5]:
income.head()

,FIPS,State,County,Median_HH_Inc_ACS,PerCapitaInc,Poverty_Rate_0_17_ACS,Poverty_Rate_ACS,Deep_Pov_All,Deep_Pov_Children,NumAll_inPOV_ACS,PCTPOV017,POV017,MedHHInc,POVALL,PCTPOVALL,Num_inPOV_0_17_ACS
0,0,US,United States,62843.0,34103.0,18.519621,13.422426,5.985652,8.155789,42510843.0,16.8,12000470.0,65712.0,39490096.0,12.3,13377778.0
1,1000,AL,Alabama,50536.0,27928.0,23.900209,16.742549,7.410636,11.152622,795989.0,21.9,233890.0,51771.0,747478.0,15.6,258068.0
2,1001,AL,Autauga,58731.0,29819.0,23.215238,15.185172,6.261607,9.592381,8340.0,15.9,2040.0,58233.0,6723.0,12.1,3047.0
3,1003,AL,Baldwin,58320.0,32626.0,13.364308,10.354073,4.046885,5.656490,21704.0,13.5,6323.0,59871.0,22360.0,10.1,6098.0
4,1005,AL,Barbour,32525.0,18473.0,50.142884,30.668689,15.042156,31.491713,6875.0,41.0,2050.0,35972.0,5909.0,27.1,2632.0

In [6]:
# We will use ALL columns

In [9]:
states_and_counties = gpd.read_file('../../processed-spatial/general/counties_and_states.json')

In [10]:
states_and_counties.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,STUSPS,geometry
0,21,007,00516850,0500000US21007,21007,Ballard,06,639387454,69473325,KY,"POLYGON ((-89.18137 37.04630, -89.17938 37.053..."
1,21,017,00516855,0500000US21017,21017,Bourbon,06,750439351,4829777,KY,"POLYGON ((-84.44266 38.28324, -84.44114 38.283..."
2,21,031,00516862,0500000US21031,21031,Butler,06,1103571974,13943044,KY,"POLYGON ((-86.94486 37.07341, -86.94346 37.074..."
3,21,065,00516879,0500000US21065,21065,Estill,06,655509930,6516335,KY,"POLYGON ((-84.12662 37.64540, -84.12483 37.646..."
4,21,069,00516881,0500000US21069,21069,Fleming,06,902727151,7182793,KY,"POLYGON ((-83.98428 38.44549, -83.98246 38.450..."

In [12]:
mini_set = states_and_counties[['STATEFP', 'NAME', 'STUSPS', 'geometry']]

In [13]:
# Merge

cjobs = mini_set.merge(jobs, left_on=['STUSPS', 'NAME'], right_on=['State', 'County'], how='left')

In [14]:
cjobs.head()

,STATEFP,NAME,STUSPS,geometry,FIPS,State,County,UnempRate2020,PctEmpChange1920,UnempRate2019,...,NumUnemployed2015,NumUnemployed2014,NumEmployed2014,NumCivLaborforce2014,NumUnemployed2013,NumCivLaborforce2013,NumUnemployed2007,NumEmployed2007,NumCivLaborforce2007,NumCivLaborforce2017
0,21,Ballard,KY,"POLYGON ((-89.18137 37.04630, -89.17938 37.053...",21007.0,KY,Ballard,6.6,-4.6,5.5,...,245.0,293.0,3383.0,3676.0,348.0,3825.0,233.0,4003.0,4236.0,3628.0
1,21,Bourbon,KY,"POLYGON ((-84.44266 38.28324, -84.44114 38.283...",21017.0,KY,Bourbon,5.9,-2.8,3.7,...,454.0,540.0,9109.0,9649.0,682.0,9828.0,472.0,9234.0,9706.0,9874.0
2,21,Butler,KY,"POLYGON ((-86.94486 37.07341, -86.94346 37.074...",21031.0,KY,Butler,6.9,-5.8,4.6,...,297.0,387.0,4804.0,5191.0,487.0,5375.0,355.0,5256.0,5611.0,5177.0
3,21,Estill,KY,"POLYGON ((-84.12662 37.64540, -84.12483 37.646...",21065.0,KY,Estill,7.5,-6.8,4.8,...,318.0,405.0,5003.0,5408.0,534.0,5536.0,393.0,5735.0,6128.0,5340.0
4,21,Fleming,KY,"POLYGON ((-83.98428 38.44549, -83.98246 38.450...",21069.0,KY,Fleming,7.3,-3.6,5.2,...,380.0,490.0,5881.0,6371.0,613.0,6522.0,416.0,6078.0,6494.0,6052.0

In [15]:
cjobs.to_file('counties_jobs.json', driver='GeoJSON')

/Users/szymonos/.conda/envs/spatial/lib/python3.9/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

In [16]:
# The same for income

In [17]:
# Merge

cinc = mini_set.merge(income, left_on=['STUSPS', 'NAME'], right_on=['State', 'County'], how='left')

In [18]:
cinc.to_file('counties_income.json', driver='GeoJSON')

/Users/szymonos/.conda/envs/spatial/lib/python3.9/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

In [19]:
# Now agg at a state level

In [20]:
mini_set.head()

  STATEFP     NAME STUSPS                                           geometry
0      21  Ballard     KY  POLYGON ((-89.18137 37.04630, -89.17938 37.053...
1      21  Bourbon     KY  POLYGON ((-84.44266 38.28324, -84.44114 38.283...
2      21   Butler     KY  POLYGON ((-86.94486 37.07341, -86.94346 37.074...
3      21   Estill     KY  POLYGON ((-84.12662 37.64540, -84.12483 37.646...
4      21  Fleming     KY  POLYGON ((-83.98428 38.44549, -83.98246 38.450...

In [21]:
micro_set = mini_set[['STUSPS', 'NAME']]

In [22]:
micro_jobs = micro_set.merge(jobs, left_on=['STUSPS', 'NAME'], right_on=['State', 'County'], how='left')

In [23]:
states = gpd.read_file('../spatial/us-states/cb_2018_us_state_500k.shp')

In [24]:
states.head()

,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,geometry
0,28,01779790,0400000US28,28,MS,Mississippi,00,121533519481,3926919758,"MULTIPOLYGON (((-88.50297 30.21523, -88.49176 ..."
1,37,01027616,0400000US37,37,NC,North Carolina,00,125923656064,13466071395,"MULTIPOLYGON (((-75.72681 35.93584, -75.71827 ..."
2,40,01102857,0400000US40,40,OK,Oklahoma,00,177662925723,3374587997,"POLYGON ((-103.00257 36.52659, -103.00219 36.6..."
3,51,01779803,0400000US51,51,VA,Virginia,00,102257717110,8528531774,"MULTIPOLYGON (((-75.74241 37.80835, -75.74151 ..."
4,54,01779805,0400000US54,54,WV,West Virginia,00,62266474513,489028543,"POLYGON ((-82.64320 38.16909, -82.64300 38.169..."

In [25]:
mini_states = states[['STUSPS', 'NAME', 'geometry']]

In [26]:
micro_income = micro_set.merge(income, left_on=['STUSPS', 'NAME'], right_on=['State', 'County'], how='left')

In [27]:
#### AGG

In [28]:
micro_jobs.head()

,STUSPS,NAME,FIPS,State,County,UnempRate2020,PctEmpChange1920,UnempRate2019,PctEmpChange1819,UnempRate2018,...,NumUnemployed2015,NumUnemployed2014,NumEmployed2014,NumCivLaborforce2014,NumUnemployed2013,NumCivLaborforce2013,NumUnemployed2007,NumEmployed2007,NumCivLaborforce2007,NumCivLaborforce2017
0,KY,Ballard,21007.0,KY,Ballard,6.6,-4.6,5.5,-0.1,6.8,...,245.0,293.0,3383.0,3676.0,348.0,3825.0,233.0,4003.0,4236.0,3628.0
1,KY,Bourbon,21017.0,KY,Bourbon,5.9,-2.8,3.7,-0.3,3.9,...,454.0,540.0,9109.0,9649.0,682.0,9828.0,472.0,9234.0,9706.0,9874.0
2,KY,Butler,21031.0,KY,Butler,6.9,-5.8,4.6,1.0,4.8,...,297.0,387.0,4804.0,5191.0,487.0,5375.0,355.0,5256.0,5611.0,5177.0
3,KY,Estill,21065.0,KY,Estill,7.5,-6.8,4.8,1.7,5.3,...,318.0,405.0,5003.0,5408.0,534.0,5536.0,393.0,5735.0,6128.0,5340.0
4,KY,Fleming,21069.0,KY,Fleming,7.3,-3.6,5.2,2.6,5.3,...,380.0,490.0,5881.0,6371.0,613.0,6522.0,416.0,6078.0,6494.0,6052.0

In [29]:
agg_jobs = micro_jobs.groupby(['STUSPS']).mean()

In [30]:
agg_jobs.head()

,FIPS,UnempRate2020,PctEmpChange1920,UnempRate2019,PctEmpChange1819,UnempRate2018,UnempRate2017,UnempRate2016,UnempRate2015,UnempRate2014,...,NumUnemployed2015,NumUnemployed2014,NumEmployed2014,NumCivLaborforce2014,NumUnemployed2013,NumCivLaborforce2013,NumUnemployed2007,NumEmployed2007,NumCivLaborforce2007,NumCivLaborforce2017
STUSPS,,,,,,,,,,,,,,,,,,,,,
AK,2138.120000,10.092000,-8.376000,7.732000,0.504000,8.248000,8.916000,9.476000,9.748000,10.716000,...,869.520000,934.720000,12700.280000,13635.000000,967.520000,13604.000000,953.809524,14275.000000,15228.809524,13526.560000
AL,1067.000000,6.283582,-3.101493,3.477612,2.177612,4.461194,5.213433,6.704478,7.080597,7.856716,...,1967.955224,2179.313433,30129.955224,32309.268657,2377.223881,32419.447761,1319.701493,31224.432836,32544.134328,32424.671642
AR,5074.013158,6.290789,-3.425000,4.143421,0.117105,4.167105,4.284211,4.614474,5.693421,6.681579,...,1750.434211,2057.763158,32888.565789,34946.328947,2473.697368,35042.355263,1918.710526,33629.026316,35547.736842,35527.289474
AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZ,4013.866667,8.986667,-2.653333,6.640000,2.446667,6.646667,6.853333,7.773333,8.753333,9.460000,...,12926.733333,14150.000000,193746.266667,207896.266667,15947.533333,204303.600000,7577.466667,193676.133333,201253.600000,221974.533333

In [31]:
agg_jobs.drop('FIPS', inplace=True, axis=1)

In [32]:
agg_jobs.dropna(how='all', inplace=True)

In [33]:
agg_income = micro_income.groupby(['STUSPS']).mean()
agg_income.drop('FIPS', inplace=True, axis=1)
agg_income.dropna(how='all', inplace=True)

In [35]:
# Merge both with states

In [36]:
agg_income.reset_index(inplace=True)
agg_jobs.reset_index(inplace=True)

In [37]:
merged_1 = mini_states.merge(agg_jobs, on='STUSPS')

In [38]:
merged = merged_1.merge(agg_income, on='STUSPS')

In [39]:
merged.head()

,STUSPS,NAME,geometry,UnempRate2020,PctEmpChange1920,UnempRate2019,PctEmpChange1819,UnempRate2018,UnempRate2017,UnempRate2016,...,Poverty_Rate_ACS,Deep_Pov_All,Deep_Pov_Children,NumAll_inPOV_ACS,PCTPOV017,POV017,MedHHInc,POVALL,PCTPOVALL,Num_inPOV_0_17_ACS
0,MS,Mississippi,"MULTIPOLYGON (((-88.50297 30.21523, -88.49176 ...",8.837805,-3.817073,6.504878,-0.271951,5.763415,6.163415,7.023171,...,23.564295,10.602776,17.037683,7143.731707,32.047561,2304.914634,41702.756098,6826.390244,22.841463,2454.451220
1,NC,North Carolina,"MULTIPOLYGON (((-75.72681 35.93584, -75.71827 ...",7.367000,-6.173000,4.145000,1.619000,4.422000,4.964000,5.656000,...,16.766008,7.190573,11.232260,14675.910000,23.632000,4357.300000,51641.500000,13837.590000,15.801000,4788.770000
2,OK,Oklahoma,"POLYGON ((-103.00257 36.52659, -103.00219 36.6...",5.851282,-2.203846,3.251282,-0.817949,3.312821,4.192308,5.105128,...,16.866621,6.939528,9.689923,15342.897436,22.332051,4717.884615,49900.102564,14836.705128,16.603846,5179.769231
3,VA,Virginia,"MULTIPOLYGON (((-75.74241 37.80835, -75.74151 ...",6.412766,-5.320567,3.045390,1.491489,3.337589,4.155319,4.587234,...,13.874544,6.378429,9.113754,7264.751773,18.553901,2024.957447,62856.716312,6874.127660,13.156738,2149.375887
4,WV,West Virginia,"POLYGON ((-82.64320 38.16909, -82.64300 38.169...",9.060000,-4.292727,5.774545,0.983636,5.818182,5.994545,7.098182,...,18.042234,7.484901,11.450335,5637.163636,22.763636,1318.290909,46636.363636,5112.254545,17.183636,1557.418182

In [40]:
merged.to_file('income_jobs_per_state.json', driver='GeoJSON')

/Users/szymonos/.conda/envs/spatial/lib/python3.9/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,